.introAbout {
  width: 85%;
  height: 223px;
  margin: auto;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../../assets/about-background.png");
  background-position: 50% 50%;
  background-size: cover;
  border-radius: 25px;
}

.dropdownsContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 33px;
  margin-top: 31px;
  margin-bottom: 201px;
}

@media (max-width: 768px) {
  .dropdownsContainer {
    margin-top: 19px;
    gap: 20px;
  }
  .introAbout {
    width: 90%;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
      url("../../assets/about-background-mobile.png");

    background-position: 50% 50%;
    background-size: cover;
  }
}
