.intro {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 85%;
  height: 223px;
  margin: auto;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../../assets/home-background.png");
  background-position: 50% 50%;
  background-size: cover;
  border-radius: 25px;
}

.intro__text {
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  color: #ffffff;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  line-height: 100%;
}

.introAbout {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../../assets/about-background.png");
  background-position: 50% 50%;
  background-size: cover;
}

@media (max-width: 768px) {
  .intro {
    width: 90%;
    height: 111px;
    justify-content: left;
  }

  .intro__text {
    width: 217px;
    text-align: left;
    font-size: 24px;
    margin-left: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-left: 0px;
    padding-right: 0px;
  }
  .introAbout {
    width: 90%;
    height: 223px;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
      url("../../assets/about-background-mobile.png");

    background-position: 50% 50%;
    background-size: cover;
  }
}
